
.App {
  margin: 20px auto;
  width: 100%;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.App h1 {
  font-size: 6rem;
  font-weight: bold;
  margin: 20px;
}

